%main.about
  .row
    .col.s6.m8.l12
      %div.container.black-text
        %br
        %h2.center.green.darken-4.white-text Rooms Available
        %hr.black
        %br
        / All this can be added when i know more about the are and what attractions are nearby

        / .parallax-container
        /   .parallax
        /     %img{:src => "9113257330_16418d38b2_k.jpg"}
        / .parallax-container.center-align.black-text
        / %br
        / %h2.titles.center  Nearby
        / %hr.black
        / %div.container
        /   %p.black-text 
        /     Nearby to Grandma's House you will find many things to do! There are several hikes to do in the surrounding area. You are also nearby Yosemite National Park, and several lakes.
          
        / .parallax-container
        /   .parallax
        /     %img{:src => "9113257330_16418d38b2_k.jpg"}
      
      .row.center
        .col.s12.center
          .card.center
            .card-image
              %img{:src => "20170922_143611.jpg"}
              %span.card-title.green-text Blue Room
            .card-content.green.darken-4.white-text
              %p
                The Blue room offers a king sized bed sleeping up to two people.
            / .card-action
          /   %a{:href => "#"} This is a link

      .row.center
        .col.s12.center
          .card.center
            .card-image
              %img{:src => "20170922_144202.jpg"}
              %span.card-title.green-text Green Room
            .card-content.green.darken-4.white-text
              %p
                The Green room offers a double sized bed sleeping up to two people.
            / .card-action
          /   %a{:href => "#"} This is a link
      .row.center
        .col.s12
          .card.center
            .card-image
              %img{:src => "20170922_150952.jpg"}
              %span.card-title.green-text Sun Room
            .card-content.green.darken-4.white-text
              %p
                The Sun room offers a queen sized bed sleeping up to two people.
          / .card-action
          /   %a{:href => "#"} This is a link
      / %h2.titles.center Blue Room
      / %p.center
      / The blue room offers a king sized bed sleeping up to 2 people.
      / .parallax-container
      /   .parallax
      /     %img{:src => "20170922_143611.jpg"}
      / %h2.titles.center Green Room
      / %p.center 
      / The blue room offers a double bed sleeping up to 2 people.
      / .parallax-container
      /   .parallax
      /     %img{:src => "20170922_144202.jpg"}
      / %h2.titles.center Sun Room
      / %p.center 
      / The Sun room offers a queen sized bed sleeping up to 2 people.
      / .parallax-container
      /   .parallax
      /     %img{:src => "20170922_150952.jpg"}

          
      

  %footer.center.page-footer.green.darken-4.z-depth-4
    Copyright © 2017 · All Rights Reserved
  / .background_img{position:"relative", display:"inline-block"} 



