%main.home
  .row
    .col.s6.m8.l12
      %br
      %br
      
      %div.center
        %h2.center.titles Grandma's House
      %hr.black
      %br
        %p.black-text.center
          Welcome to Grandma's House! We offer a relaxing country setting with fresh duck and chicken eggs each morning when they are in season. Located just outside of Coarsegold with easy access to Highway 41 and your on your way to Oakhurst and Yosemite. Several lakes including Bass Lake, Eastman Lake, Millerton Lake and Hensley Lake make Grandma's House a great place to home base while visiting the Central Valley.
        %hr
        %br
        .parallax-container.hide-on-med-and-down
          .parallax
            %img{:src => "20170922_173005.jpg"}
        %br
        %hr
        %br
          %p.black-text.center
            Relax in a calming environment, take a dip in the hot tub, play in the yard with your dog, help yourself to the garden with veggies that are in season for you to harvest, as well as fresh herbs for your cooking. Enjoy access to the gas grill for your dinners. If you'd rather enjoy some time inside, help yourself to the 55" TV with cable, surround sound, and XBox for family fun.
            %br
            %br
              Help yourself to the washer and dryer with laundry soap. The laundry area is shared with house keeping. We keep the pantry stocked and our guests are welcome to use anything in house.
            %br
              There is a donation box provided so we can restock what was used for next guests.
            
        %hr
        %br
        .parallax-container.hide-on-med-and-down
          .parallax
            %img{:src => "20170922_170541.jpg"}

        
        %br
        %hr
        %h2.center.titles Location
        %div.center
          %p.center 44794 Road 415, Coarsegold, CA 93614





  %footer.center.page-footer.green.darken-4.z-depth-4
    Copyright © 2017 · All Rights Reserved 
